<brls:Box
    width="auto"
    height="auto"
    grow="1.0">

    <brls:ScrollingFrame
        width="auto"
        height="auto"
        grow="1.0">

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            paddingTop="@style/brls/tab_frame/content_padding_top_bottom"
            paddingBottom="@style/brls/tab_frame/content_padding_top_bottom"
            paddingLeft="@style/brls/tab_frame/content_padding_sides"
            paddingRight="@style/brls/tab_frame/content_padding_sides">

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:SelectorCell
                id="settings/language"
                title="@i18n/akira/settings/language"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/language_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/local_network"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:SelectorCell
                id="settings/localResolution"
                title="@i18n/akira/settings/resolution"
                marginLeft="15"
                marginRight="15"/>

            <brls:SelectorCell
                id="settings/localFps"
                title="@i18n/akira/settings/frame_rate"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/localBitrate"
                title="@i18n/akira/settings/bitrate"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/local_network_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/remote_play"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:SelectorCell
                id="settings/remoteResolution"
                title="@i18n/akira/settings/resolution"
                marginLeft="15"
                marginRight="15"/>

            <brls:SelectorCell
                id="settings/remoteFps"
                title="@i18n/akira/settings/frame_rate"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/remoteBitrate"
                title="@i18n/akira/settings/bitrate"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/remote_play_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/vpn"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:SelectorCell
                id="settings/vpnResolution"
                title="@i18n/akira/settings/resolution"
                marginLeft="15"
                marginRight="15"/>

            <brls:SelectorCell
                id="settings/vpnFps"
                title="@i18n/akira/settings/frame_rate"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/vpnBitrate"
                title="@i18n/akira/settings/bitrate"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/vpn_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Box
            id="settings/powerUserSection"
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30"
            visibility="gone">

            <brls:Header
                title="@i18n/akira/settings/power_user"
                marginBottom="10"
                marginLeft="15"
                marginTop="15"/>

            <brls:BooleanCell
                id="settings/unlockBitrateMax"
                title="@i18n/akira/settings/unlock_bitrate_max"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/unlock_bitrate_max_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="15"/>

            <brls:BooleanCell
                id="settings/ipcStats"
                title="@i18n/akira/settings/ipc_stats"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/ipc_stats_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="15"/>

            <brls:BooleanCell
                id="settings/portGuessing"
                title="@i18n/akira/settings/port_guessing"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/port_guessing_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:SliderCell
                id="settings/portGuessingCount"
                title="@i18n/akira/settings/port_guess_count"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/port_guess_count_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:SliderCell
                id="settings/portGuessingSocks"
                title="@i18n/akira/settings/probe_socket_count"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/probe_socket_count_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/autoReconnect"
                title="@i18n/akira/settings/auto_reconnect"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/auto_reconnect_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/lowLatencyMode"
                title="@i18n/akira/settings/low_latency_mode"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/low_latency_mode_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:Button
                id="settings/runBenchmark"
                text="@i18n/akira/settings/run_benchmark"
                marginLeft="15"
                marginRight="15"
                marginTop="10"/>

            <brls:Label
                text="@i18n/akira/settings/benchmark_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="15"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/controller"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:SelectorCell
                id="settings/haptic"
                title="@i18n/akira/settings/haptic_feedback"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/rumbleFreqLow"
                title="@i18n/akira/settings/rumble_low_freq"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/rumbleFreqHigh"
                title="@i18n/akira/settings/rumble_high_freq"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/rumbleEnvelopeAttack"
                title="@i18n/akira/settings/rumble_attack"
                marginLeft="15"
                marginRight="15"/>

            <brls:SliderCell
                id="settings/rumbleEnvelopeDecay"
                title="@i18n/akira/settings/rumble_sustain"
                marginLeft="15"
                marginRight="15"/>

            <brls:SelectorCell
                id="settings/gyroSource"
                title="@i18n/akira/settings/gyro_source"
                marginLeft="15"
                marginRight="15"/>

            <brls:BooleanCell
                id="settings/sleepOnExit"
                title="@i18n/akira/settings/sleep_on_exit"
                marginLeft="15"
                marginRight="15"/>

            <brls:DetailCell
                id="settings/buttonMapping"
                title="@i18n/akira/settings/button_mapping"
                marginLeft="15"
                marginRight="15"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/picture_adjustments"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:BooleanCell
                id="settings/enableDithering"
                title="@i18n/akira/settings/enable_dithering"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/enable_dithering_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:SliderCell
                id="settings/ditheringStrength"
                title="@i18n/akira/settings/dithering_strength"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/dithering_strength_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/performance"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:BooleanCell
                id="settings/fsrEnabled"
                title="FSR Upscaling"
                marginLeft="15"
                marginRight="15"/>

            <brls:SelectorCell
                id="settings/fsrTarget"
                title="FSR Target"
                marginLeft="15"
                marginRight="15"/>

            <brls:SelectorCell
                id="settings/fsrSharpness"
                title="FSR Sharpness"
                marginLeft="15"
                marginRight="15"/>

            <brls:BooleanCell
                id="settings/enableThreadAffinity"
                title="@i18n/akira/settings/thread_affinity"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/thread_affinity_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>


            <brls:BooleanCell
                id="settings/holepunchRetry"
                title="@i18n/akira/settings/holepunch_retry"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/holepunch_retry_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/requestIdrOnFecFailure"
                title="@i18n/akira/settings/request_idr"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/request_idr_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:SliderCell
                id="settings/packetLossMax"
                title="@i18n/akira/settings/packet_loss_max"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/packet_loss_max_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/debug_logging"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:BooleanCell
                id="settings/enableFileLogging"
                title="@i18n/akira/settings/file_logging"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/file_logging_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/debugLwipLog"
                title="@i18n/akira/settings/lwip_log"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/lwip_log_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/debugWireguardLog"
                title="@i18n/akira/settings/wireguard_log"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/wireguard_log_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/debugRenderLog"
                title="@i18n/akira/settings/render_log"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/render_log_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/debugChiakiLog"
                title="@i18n/akira/settings/chiaki_log"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/chiaki_log_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/debugDiscoveryLog"
                title="@i18n/akira/settings/discovery_log"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/discovery_log_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:BooleanCell
                id="settings/debugFfmpegLog"
                title="@i18n/akira/settings/ffmpeg_log"
                marginLeft="15"
                marginRight="15"/>

            <brls:Label
                text="@i18n/akira/settings/ffmpeg_log_desc"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/psn_account"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30"
            paddingTop="15"
            paddingBottom="15">

            <brls:Box
                width="auto"
                height="auto"
                axis="row"
                alignItems="center"
                marginLeft="15"
                marginRight="15">

                <brls:InputCell
                    id="settings/psnOnlineId"
                    title="@i18n/akira/settings/psn_online_id"
                    grow="1"/>

                <brls:Button
                    id="settings/lookupBtn"
                    text="@i18n/akira/settings/look_up"
                    style="bordered"
                    marginLeft="10"/>

            </brls:Box>

            <brls:Label
                text="@i18n/akira/settings/psn_visible_hint"
                fontSize="14"
                textColor="#666666"
                marginLeft="15"
                marginTop="5"
                marginBottom="10"/>

            <brls:InputCell
                id="settings/psnAccountId"
                title="@i18n/akira/settings/psn_account_id"
                marginLeft="15"
                marginRight="15"/>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/psn_credentials"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30">

            <brls:Button
                id="settings/revealCredentials"
                text="@i18n/akira/settings/reveal_secrets"
                marginLeft="15"
                marginRight="15"
                marginTop="10"
                marginBottom="10"/>

            <brls:DetailCell
                id="settings/credOnlineId"
                focusable="false"
                marginLeft="15"
                marginRight="15"/>

            <brls:DetailCell
                id="settings/credAccountId"
                focusable="false"
                marginLeft="15"
                marginRight="15"/>

            <brls:DetailCell
                id="settings/credAccessToken"
                focusable="false"
                marginLeft="15"
                marginRight="15"/>

            <brls:DetailCell
                id="settings/credRefreshToken"
                focusable="false"
                marginLeft="15"
                marginRight="15"/>

            <brls:DetailCell
                id="settings/credTokenExpiry"
                focusable="false"
                marginLeft="15"
                marginRight="15"/>

            <brls:DetailCell
                id="settings/credDuid"
                focusable="false"
                marginLeft="15"
                marginRight="15"/>

            <brls:Box
                width="auto"
                height="auto"
                axis="row"
                marginLeft="15"
                marginRight="15"
                marginTop="10"
                marginBottom="15">

                <brls:Button
                    id="settings/clearPsnBtn"
                    text="@i18n/akira/settings/clear_psn_data"
                    style="bordered"
                    grow="1"
                    marginRight="10"/>

                <brls:Button
                    id="settings/refreshTokenBtn"
                    text="@i18n/akira/settings/refresh_token_btn"
                    style="bordered"
                    grow="1"/>

            </brls:Box>

        </brls:Box>

        <brls:Header
            title="@i18n/akira/settings/companion_server"
            marginBottom="10"/>

        <brls:Box
            width="auto"
            height="auto"
            axis="column"
            grow="1.0"
            backgroundColor="@theme/color/card"
            cornerRadius="8"
            marginBottom="30"
            paddingTop="15"
            paddingBottom="15">

            <brls:InputCell
                id="settings/companionHost"
                title="@i18n/akira/settings/companion_host"
                marginLeft="15"
                marginRight="15"/>

            <brls:InputCell
                id="settings/companionPort"
                title="@i18n/akira/settings/companion_port"
                marginLeft="15"
                marginRight="15"/>

            <brls:Button
                id="settings/fetchPsnBtn"
                text="@i18n/akira/settings/fetch_psn_btn"
                style="bordered"
                grow="1"
                marginLeft="15"
                marginRight="15"
                marginTop="10"
                marginBottom="15"/>

        </brls:Box>

        <brls:Label
            id="settings/version"
            text="Akira v0.4.13"
            fontSize="14"
            textColor="#666666"
            marginTop="20"
            marginBottom="20"
            horizontalAlign="center"
            focusable="true"/>

        </brls:Box>

    </brls:ScrollingFrame>

</brls:Box>
